<a href="https://colab.research.google.com/github/mpagas/MIS2800/blob/main/AFC_North_APPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [3]:
#create AFC_North_APPG.db in tempoary Colab local storage
conn = sqlite3.connect('AFC_North_APPG.db')

Create a STRICT TABLE

In [7]:
#define a structure for the data table
conn.executescript('''
DROP TABLE IF EXISTS AFC_North_APPG;
CREATE TABLE AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  city TEXT,
  average_ppg REAL,
  wins_2025 INTEGER,
  losses_2025 INTEGER)
  STRICT;
  ''')

Add Team Stats

In [11]:
conn.executescript('''
INSERT OR REPLACE INTO AFC_North_APPG (team_name, city, average_ppg, wins_2025, losses_2025)
VALUES ('Steelers', 'Pittsburgh', 23.4, 10, 7),
('Ravens', 'Baltimore', 24.9, 8, 9),
('Bengals', 'Cincinnati', 24.4, 6, 11),
('Browns', 'Cleveland', 16.4, 5, 12);
''')

Filtering Teams

In [12]:
#slicing the data to show only specific teams
query = "SELECT * FROM AFC_North_APPG WHERE average_ppg > 20"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Pittsburgh', 23.4, 10, 7)
('Ravens', 'Baltimore', 24.9, 8, 9)
('Bengals', 'Cincinnati', 24.4, 6, 11)